<footer class="footer-bs bg-white text-md-start border-top">
    <!-- Grid container -->
    <div class="container py-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-md-8 col-12 mb-4 mb-md-0">
          <h5 class="text-uppercase"><i class="bi bi-journal-bookmark me-2"></i>เกี่ยวกับเรา</h5>
          <p class="text-indent">
            ระบบทะเบียนกิจกรรมนิสิต เป็นระบบที่พัฒนาขึ้นโดยกองกิจการนิสิตร่วมกับสำนักคอมพิวเตอร์ เพื่อให้นิสิตลงทะเบียนเข้าร่วมทำกิจกรรมกับมหาวิทยาลัย โดยนิสิตจะได้รับใบระเบียนกิจกรรมนิสิต(ทรานสคริปกิจกรรม) ซึ่งเป็นใบรับรองการทำกิจกรรมนิสิต ระดับปริญญาตรี ที่ออกให้โดยกองกิจการนิสิต นิสิตที่จะขอรับในรัเบียบกิจกรรมนิสิตได้ ต้องเข้าร่วมกิจกรรมที่จัดขึ้นโดยมหาวิทยาลัย/คณะ จัดขึ้นไม่น้อยกว่า 4 กิจกรรมและกิจกรรมที่องค์กรนิสิต จัดขึ้นไม่น้อยกว่า 4 กิจกรรม และมีจำนวนชั่วโมงกิจกรรมรวมไม่น้อยกว่า 100 ชั่วโมง โดยสามารถยื่นเรื่องได้เมื่อคาดว่าจะสำเร็จการศึกษาในปีนั้นๆ
          </p>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-md-4 col-12 mb-4 mb-md-0">
          <h5 class="text-uppercase"><i class="bi bi-file-earmark-text me-2"></i>เอกสาร/คู่มือ</h5>
  
          <ul class="list-unstyled mb-0 ps-3">
            <li>
              <i class="bi bi-link me-2"></i><a href="#">คำสั่ง/ประกาศ</a>
            </li>
            <li>
              <i class="bi bi-link me-2"></i><a href="#">คู่มือการจัดกิจกรรม</a>
            </li>
            <li>
              <i class="bi bi-link me-2"></i><a href="#!">แบบฟอร์ม</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
  
      </div>
      <!--Grid row-->
    </div> 
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-white-50 text-center p-2" style="background-color: rgba(0, 0, 0, 0.6);">
      © 2022 Copyright : 
      <a class="text-white-50" href="https://cc.msu.ac.th">Computer Center Mahasarakham University</a>
      <span class="ms-2"><i class="bi bi-bug me-2"></i>version: {{version}}</span>
    </div>
    <!-- Copyright -->
  </footer>