<div class="d-flex justify-content-between align-items-center px-2 py-2 hover-active border mb-2">
    
    <div class="d-flex flex-column">
        <span class="icon-link me-3">
            <span>{{item.activity_name}}</span>
            <!-- <span class="badge rounded-pill bg-success text-white me-1">{{item.activity_code}}</span>
            <span class="badge rounded-pill bg-info text-white">{{item.activity_year}}/{{item.activity_term}}</span> -->
        </span> 
        <div class="d-inline-block">
            <span class="me-2 text-muted fs-sm">
                <i class="bi bi-easel2-fill text-primary me-1"></i>{{item.activity_year}}/{{item.activity_term}}
            </span>
            <span class="me-2 text-muted fs-sm">
                <i class="bi bi-calendar2-week-fill text-primary me-1"></i>{{item.activity_date_form|thaidate}}
            </span>
            <span class="me-2 text-muted fs-sm">
                <i class="bi bi-people-fill text-primary me-1"></i>{{item.activity_register}}/{{item.activity_receive}}
            </span>
            <span class="me-2 text-muted fs-sm">
                <i class="bi bi-geo-alt-fill text-primary me-1"></i>{{item.activity_place}}
            </span>
        </div>
    </div>


    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-success btn-sm" (click)="_onEdit.emit(item)"><i class="bi bi-pencil"></i></button>
        <button type="button" class="btn btn-primary btn-sm" (click)="_onView.emit(item)"><i class="bi bi-eye"></i></button>
        <button type="button" class="btn btn-danger btn-sm" (click)="_onDelete.emit(item)"><i class="bi bi-trash3-fill"></i></button>
    </div>

</div>
