<section class="mb-5">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div style="font-weight:bolder;font-size:150px;color:var(--bs-danger);">404</div>
                <div style="font-weight:bolder;" class="h1 text-gray">Page Not Found</div>
                <div class="fst-italic text-muted text-secoundary">We're sorry, the page you requested couldnot be found.
                    <br>Please go back to the homepage.
                </div>
            </div>
        </div>
    </div>
</section>