<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-body pb-0">
      <div class="modal-title">
        <div class="h5 text-danger"><i class="bi me-1 h4 text-danger h3 me-2" [ngClass]="icon" ></i>{{ title }}</div>
      </div>
      <div class="d-flex">
        <div class="p-2 flex-grow-1 modal-dialog-description">
          <span [innerHTML]="description"></span>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-sm btn-cancel me-1" (click)="_close()">
        <i class="bi bi-x-lg"></i> {{ no }}
      </button>
      <button type="button" class="btn btn-sm btn-confirm me-1" (click)="_confirm()">
        <i class="bi bi-check-lg"></i> {{ yes }}
      </button>
    </div>
  </div>
</div>
