<div class="container ">
<div class="row">

        <div  class="col-sm-4 col-lg-2">
        <img src="assets/images/intro.png" class="img-fluid" alt="">
        </div>
        <div class="col-sm-8 col-lg-10 align-self-center">
            ระบบระเบียนกิจกรรมนิสิต เป็นระบบที่จัดทำขึ้นเพื่อให้นิสิตลงทะเบียนเข้าร่วมกิจกรรม เป็นการบันทึกสถานภาพการเข้าร่วมกิจกรรมของนิสิต การประเมินผลการเข้าร่วมกิจกรรม ซึ่งถึอว่าเป็นกลไกสำคัญในการพัฒนาศักยภาพนิสิตผ่านมิติการเข้าร่วมกิจกรรมต่าง ๆ ที่จัดโดยมหาวิทยาลัย / คณะ และกิจกรรมที่จัดโดยองค์กรนิสิต (องค์กรนิสิต คือ องค์การนิสิต  สภานิสิต  ชมรม  สโมสรนิสิต และกลุ่มนิสิต)
        </div>

</div>
<div class="row mt-3">
    <h5 class="text-head">
        <div class="col"><i class="bi bi-star-fill text-warning me-2"></i>กิจกรรมที่กำลังเผยแพร่</div>
    </h5>
</div>
<div class="row mb-5">
    <div class="col">
        <app-activity-card1-list
        [items]="items"
        (onJoin)="onJoin($event)"
        ></app-activity-card1-list>
    </div>
</div>


</div>

