<div class="modal-dialog">
    <div class="modal-content">
        
        <div class="modal-body pb-0">
            <div class="modal-title">
                <h5><span [innerHTML]="title"></span></h5>
            </div>
            <div class="alert alert-success">
                โปรดแสดง QR code เพื่อลงชื่อเข้าร่วมกิจกรรม
            </div>

            <div class="d-flex justify-content-center">
                <!-- <div class="col-lg-6 col-12 m-auto"><img class="img-fluid" src="assets/images/student.msu.ac.th.png" alt="" ></div> -->
                <qrcode [qrdata]="enroll_token" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
            </div>
            
            <div>
                <div class="form-label border-bottom text-primary">กิจกรรม</div>
                <div class="ps-3">{{data.activity.activity_name}}</div>
            </div>
            <div>
                <div class="form-label border-bottom text-primary">ข้อมูลนิสิต</div>
                <div class="ps-3 row">
                    <div class="col-12">{{data.userdata.studentcode}}</div>
                    <div class="col-12">{{data.userdata.fullname}}</div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <!-- <button type="button" class="btn btn-confirm  me-1" (click)="_confirm()"><i class="bi bi-check-lg"></i> {{yes}}</button>
            <button type="button" class="btn btn-cancel  me-1" (click)="_close()"><i class="bi bi-x-lg"></i>{{no}}</button> -->
            <button type="button" class="btn btn-success  me-1" (click)="_close()"><i class="bi bi-x-lg me-2"></i>ปิด</button>
        </div>

    </div>
</div>