<activity-item-toolbar
  [title]="'ดำเนินการกิจกรรม'"
  [is_onCancelWork]="true"
  (onCancelWork)="onCancelWork($event)"
></activity-item-toolbar>

<section>
  <div class="container mb-5">
    <div class="row">
      <div class="h5">
        <i class="bi bi-journal-bookmark-fill me-2 text-primary"></i>
        {{ item.activity_code }} : {{ item.activity_name }}
        <div class="fs-sm text-body">
          <i class="bi bi-calendar4-week me-2"></i
          >{{ item.activity_date_from | thaidate }}
        </div>
      </div>
    </div>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          id="home-tab"
          type="button"
          role="tab"
          class="nav-link active"
          data-bs-toggle="tab"
          data-bs-target="#home"
          aria-controls="home"
          aria-selected="true"
        >
          ข้อมูลกิจกรรม
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="committee-tab"
          data-bs-toggle="tab"
          data-bs-target="#committee"
          type="button"
          role="tab"
          aria-controls="committee"
          aria-selected="false"
        >
          ผู้จัดกิจกรรม
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="student-tab"
          data-bs-toggle="tab"
          data-bs-target="#student"
          type="button"
          role="tab"
          aria-controls="student"
          aria-selected="false"
        >
          ผู้เข้าร่วมกิจกรรม
        </button>
      </li>
      <!-- <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="contact-tab"
          data-bs-toggle="tab"
          data-bs-target="#contact"
          type="button"
          role="tab"
          aria-controls="contact"
          aria-selected="false"
        >
          ประเมินผล
        </button>
      </li> -->
    </ul>

    <div class="tab-content" id="myTabContent">
      <!-- Tab 1 -->
      <div
        class="tab-pane fade show active"
        id="home"
        role="tabpanel"
        aria-labelledby="home-tab"
      >
        <div class="row mt-3">
          <div class="col-lg-6 col-12">
            <img
              [src]="fileuri + 'picture/' + item.activity_picture"
              class="img-fluid img-thumbnail"
            />
          </div>

          <div class="col-lg-6 col-12 mt-3">
            <label class="form-label text-primary"><i class="bi bi-gear me-2"></i>ตั้งค่ากิจกรรม (Setting)</label>
            <div class="list-group mb-5 shadow">
              <div class="list-group-item">
                <div class="row align-items-center">
                  <div class="col">
                    <div class="mb-0">
                      เผยแพร่กิจกรรม (Publish)
                      <i class="bi bi-cloud-arrow-up-fill text-success"></i>
                    </div>
                    <p class="fst-italic text-muted mb-0">
                      กิจกรรมจะถูกเผยแพร่ ให้นิสิตสามารถมองเห็นได้
                    </p>
                  </div>
                  <div class="col-auto">
                    <div class="form-check form-switch">
                      <input
                        class="form-check-input cursor-pointer"
                        type="checkbox"
                        [checked]="item.activity_publish"
                        (click)="onPublish()"
                        role="switch"
                        id="flexSwitchCheckDefault"
                      />
                    </div>
                  </div>
                </div>
              </div>

              <div class="list-group-item">
                <div class="d-flex justify-content-between align-items-center">
                  <div>จำนวนที่รับ</div>
                  <div>
                    <input
                      style="width: 100px"
                      class="form-control"
                      type="number"
                      [(ngModel)]="item.activity_receive"
                      (change)="(null)"
                    />
                  </div>
                </div>
              </div>

              <!-- <div class="list-group-item">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <div class="mb-0">การเข้าร่วม</div>
                    <p class="fst-italic text-muted mb-0">
                      กิจกรรมลงทะเบียน จะจำกัดจำนวนผู้ลงทะเบียน กิจกรรมเปิด
                      นิสิตจะต้องได้รับบัตรกิจกรรมเพื่อยืนยันการเข้าร่วม
                    </p>
                  </div>
                  <div class="col-auto">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="flexRadioDefault"
                        id="flexRadioDefault1"
                      />
                      <label class="form-check-label" for="flexRadioDefault1">
                        กิจกรรมลงทะเบียน
                      </label>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="flexRadioDefault"
                        id="flexRadioDefault2"
                        checked
                      />
                      <label class="form-check-label" for="flexRadioDefault2">
                        กิจกรรมเปิด
                      </label>
                    </div>
                  </div>
                </div>
              </div> -->


            </div>

            <!-- {{item.activity_publish}}
                <i class="bi" [ngClass]="item.activity_publish?'bi-toggle-on':'bi-toggle-off'"></i> -->

            <label class="form-label text-primary"><i class="bi bi-calendar4-event me-2"></i>วันที่เริ่มกิจกรรม</label>
            <div>
              {{ item.activity_date_from | thaidate }} -
              {{ item.activity_date_to | thaidate }}
            </div>
            <label class="form-label text-primary pt-3"><i class="bi bi-megaphone me-2"></i>รายละเอียดกิจกรรม</label>
            <div [innerHTML]="item.activity_description"></div>
            <label class="form-label text-primary pt-3"><i class="bi bi-geo-alt me-2"></i>สถานที่จัด</label>
            <div>{{ item.activity_place }}</div>

            <div>    
              <div [innerHTML]="item.activity_description"></div>
              <label class="form-label text-primary pt-3"><i class="bi bi-buildings me-2"></i>เปิดสำหรับคณะ</label>              
            <div>
              <ng-container *ngFor="let fac of item.activity_faculty" >
                <span class="m-1 badge round-pill bg-light text-body">{{fac.faculty_name}}</span>
              </ng-container>
            </div>
          </div>

          <div>
            <label class="form-label text-primary pt-3"><i class="bi bi-gem me-2  text-primary"></i>ทักษะที่จะได้รับ</label>
              <ng-container *ngFor="let skill of item.activity_skill">
                <div *ngIf="skill.checked">
                  &nbsp;&nbsp;&nbsp;&nbsp;<i class="bi bi-check text-primary me-1"></i>
                  <span class="badge round-pill badge-lg  bg-light text-body">{{skill.skill_name}}</span>
                </div>
              </ng-container>            
          </div>



          </div>
        </div>

        <!-- ###########################   -->
      </div>
      <!-- Tab 2 -->
      <div
        class="tab-pane fade"
        id="committee"
        role="tabpanel"
        aria-labelledby="committee-tab"
      >
        <div class="row">
          <div class="col">
            <user-view-table
              [title]="'รายชื่อผู้จัดกิจกรรม'"
              [items]="registrant_AB"
            ></user-view-table>
          </div>

        </div>

        <!-- ###########################   -->
      </div>
      <!-- Tab 3 -->
      <div
        class="tab-pane fade"
        id="student"
        role="tabpanel"
        aria-labelledby="student-tab"
      >
        <div class="row">
          <div class="col-lg-8 col-12">
            <user-view-table
              [title]="'รายชื่อผู้เข้าร่วม'"
              [items]="registrant_C"
            ></user-view-table>
          </div>

        </div>

        <!-- ###########################   -->
      </div>
      <!-- Tab 4 -->
      <div
        class="tab-pane fade"
        id="contact"
        role="tabpanel"
        aria-labelledby="contact-tab"
      >
        <div class="alert alert-info mt-3">
          ค้นหารายชื่อ และทำการยืนยันการเข้าร่วม สถานะ [ผ่าน] [ไม่ผ่าน]<br />สามารถเลือกรายคน
          หรือทั้งหมดได้
        </div>

        <div class="alert alert-warning">
          สามารถแนบเอกสารประกอบการประเมินได้ เช่น ใบเซนต์ชื่อ
        </div>

        <!-- ###########################   -->
      </div>
    </div>
  </div>
</section>
