<div [ngClass]="{'custom-item-draft':(fc||is_draft),'custom-item':!(fc)}">
    <div class="form-label" [ngClass]="customItemLabelClass">{{label}}</div>
    
    <div class="custom-item-detail" >
        <ng-container *ngIf="fc; else elseTemplate">
            <input type="number" class="form-control" [min]="2560" [maxlength]="maxlenght" [formControl]="fc" [ngClass]="validateClass" [placeholder]="placeholder">
        </ng-container>
        <ng-template #elseTemplate>
            <span class="document-subject">{{value||'-'}}</span>
        </ng-template>
    </div>
</div>