<section class="container">
    <div class="row">
      <div class="col">
  
        <div class="d-flex justify-content-end">
          <button class="btn btn-primary btn-sm" [routerLink]="['create']">
            <i class="bi bi-plus-circle me-1"></i>
            เพิ่มกิจกรรม
          </button>
        </div>
      
      </div>
    </div>
  </section>
  
  <!-- <section class="container">
    <div class="row">
      <div class="col">
  
        <activity-view-details 
          [items]="items"
          (_onView)="onView($event)"
          (_onEdit)="onEdit($event)"
          (_onDelete)="onDelete($event)"
        ></activity-view-details>
      </div>
    </div>
  </section> -->

  <section class="container">
    <ng-container >
        <activity-view-table
        [items]="items"
        [title]="'ข้อมูลกิจกรรม'"
        [is_onView] = true
        (_onView)="onView($event)"
        [is_onEdit]=true
        (_onEdit)="onEdit($event)"
        [is_onDelete]=true
        (_onDelete)="onDelete($event)"   
        >
        </activity-view-table>
    </ng-container>
</section>
