<section class="container">
    <div class="row">
      <div class="col">
  
        <div class="d-flex justify-content-end">
          <button class="btn btn-primary btn-sm" [routerLink]="['create']">
            <i class="bi bi-plus-circle me-1"></i>
            เพิ่มกิจกรรม
          </button>
        </div>
      
      </div>
    </div>
  </section>
  
  <section class="container">
    <div class="row">
      <div class="col">
  
        <activity-view-details 
          [items]="items"
          (_onView)="onView($event)"
          (_onEdit)="onEdit($event)"
          (_onDelete)="onDelete($event)"
        ></activity-view-details>
      </div>
    </div>
  </section>
