div.fixed-role-label {
    top: 0;
    // bottom:0;
    right:0;
    position:fixed;
    overflow-y:hidden;
    overflow-x:hidden;
}
.fixed-role-label>span {
    color:white;
    background-color: rgba(255, 0, 0,0.7);
    padding:5px 10px 6px 15px;
    border-radius:25px 0 0 25px;
    height:50px;
    line-height:39px;
}