  <section class="container">
    <activity-toolbar
    [title]="'รายการกิจกรรม'"
    (onCreate)="onCreate($event)"
    ></activity-toolbar>
  </section>
  
    <section class="container">
   
    <activity-list
      [items]="items_d"
      [title]="'ร่างโครงการ/กิจกรรม'"
      (_onTitleClick)="onEdit($event)"
      [is_onDelete]="true"
      (_onDelete)="onDelete($event)"     
    ></activity-list>
  
    <activity-list
      [items]="items_a"
      [title]="'รออนุมัติ'"
      (_onTitleClick)="onDetail($event)"
    ></activity-list>
  
    <activity-list
      [items]="items_w"
      [title]="'ดำเนินการ'"
      (_onTitleClick)="onWork($event)"
    ></activity-list>
  
    </section>
  
  