<div class="row p-1 border-bottom g-0 align-items-center flex-row">
  <div class="col-auto me-2">
    <div style="display: inline-block">
      <span class="me-1">{{ itemnumber }}.</span>
      <input class="form-check-input" type="checkbox" value="" />
    </div>
  </div>
  <div class="col-auto me-2">
    {{ item.studentcode }}
  </div>

  <div class="col">
    {{ item.studentname }}
    <span *ngIf="item.activity_checkin" class="text-gold"
      ><i class="bi bi-trophy ms-1"></i
    ></span>
  </div>
  <div class="col d-none d-md-block">
    {{ item.faculty_name }}
  </div>
  <div class="col d-none d-lg-block">
    {{ item.program }}
  </div>

  <div class="col-auto">
    <i class="bi bi-x-lg cursor-pointer"></i>
  </div>
</div>
