<!-- <div class="row p-1 border-bottom g-0 align-items-center flex-row">
  <div class="col-auto me-2">
    <div style="display: inline-block">
      <span class="me-1">{{ itemnumber }}.</span>
      <input class="form-check-input" type="checkbox" value="" />
    </div>
  </div>
  <div class="col-auto me-2">
    {{ item.studentcode }}
  </div>

  <div class="col">
    {{ item.studentname }}
    <span *ngIf="item.activity_checkin" class="text-gold"
      ><i class="bi bi-trophy ms-1"></i
    ></span>
  </div>
  <div class="col d-none d-md-block text-truncate">
    {{ item.faculty_name }}
  </div>
  <div class="col d-none d-lg-block text-truncate">
    {{ item.program }}
  </div>

  <div class="col-auto">
    <i class="bi bi-trash cursor-pointer"></i>
  </div>
</div> -->

<!-- <div class="d-flex justify-content-between border-bottom hover p-2">
  <div>
    <span class="me-2"><input class="form-check-input me-2" type="checkbox" value="" />{{index}}.</span>
    <span class="me-2">{{ item.studentcode }}</span>
    <span *ngIf="item.activity_checkin" class="text-gold"><i class="bi bi-trophy me-2"></i></span>
    <span class="me-2 d-inline-block">{{ item.studentname }}</span>
    <span class="d-none d-lg-inline me-2 text-truncate">{{item.faculty_name}}</span>
    <span class="d-none d-xl-inline me-2 text-truncate">{{item.program}}</span>
  </div>

  <div class="d-flex">
    <button
      *ngIf="false"
      class="btn btn-icon"
      matTooltip="อนุม้ติ"
      (click)="(null)"
    >
      <span class="text-nowrap"><i class="bi bi-clipboard2-check"></i></span>
    </button>
    <button
      *ngIf="is_onDelete"
      class="btn btn-icon"
      matTooltip="ลบ"
      (click)="this.onDelete.emit(item)"
    >
      <span class="text-nowrap"><i class="bi bi-trash"></i></span>
    </button>
    <button
      *ngIf="is_onGear"
      class="btn btn-icon"
      matTooltip="จัดการ"
      (click)="(null)"
    >
      <span class="text-nowrap"><i class="bi bi-gear"></i></span>
    </button>
  </div>
</div> -->

<div class="row g-0 align-items-start border-bottom hover p-2">
  <div style="width:65px">
    <input class="form-check-input me-2" type="checkbox" [(ngModel)]="item.selected" (change)="onCheckboxChange($event)"/>{{index}}.
  </div>
  <div style="width:125px">
    {{ item.studentcode }}
    <span *ngIf="item.activity_checkin" class="d-inline text-gold"><i class="bi bi-trophy"></i></span>
    <!-- <div class="d-block small fst-italic">{{item.cdate|thaidate:'short'}}</div> -->
  </div>
  <div class="col text-truncate">
    {{ item.studentname }}
  </div>
  <div class="col d-none d-lg-inline text-truncate">
    {{item.faculty_name}}
  </div>
  <div style="width:80px;text-align:center;">

    <div class="d-flex justify-content-end">
      
      <button
        *ngIf="is_onCheckin && !item.activity_checkin"
        class="btn btn-icon"
        matTooltip="บันทึกเข้าร่วม"
        (click)="this.onCheckin.emit(item)"
      >
        <span class="text-nowrap"><i class="bi bi-clipboard2-check"></i></span>
      </button>

      <button
        *ngIf="is_onCheckin && item.activity_checkin"
        class="btn btn-icon"
        matTooltip="ยกเลิกบันทึกเข้าร่วม"
        (click)="this.onCancelCheckin.emit(item)"
      >
        <span class="text-nowrap"><i class="bi bi-clipboard2-x text-danger"></i></span>
      </button>

      <button
        *ngIf="is_onDelete"
        class="btn btn-icon"
        matTooltip="ลบ"
        (click)="this.onDelete.emit(item)"
      >
        <span class="text-nowrap"><i class="bi bi-trash"></i></span>
      </button>

      <button
        *ngIf="is_onGear"
        class="btn btn-icon"
        matTooltip="จัดการ"
        (click)="(null)"
      >
        <span class="text-nowrap"><i class="bi bi-gear"></i></span>
      </button>

    </div>

  </div>
</div>