<div class="smart-item d-flex justify-content-between p-2 hover border-bottom">
  <div class="">
    <span style="display: inline-block; width: 2em">{{ item.faculty_id }}</span>
    <span>{{ item.faculty_name }}</span>
  </div>

  <div class="d-flex align-items-center">
    <div class="smart-item-tools text-gray">
      <a class="icon-link" (click)="_onEdit.emit(item)"
        ><i class="bi bi-pencil ms-2"></i
      ></a>
      <a class="icon-link" (click)="_onDelete.emit(item)"
        ><i class="bi bi-trash ms-2"></i
      ></a>
    </div>
    <div *ngIf="isMoreOption" class="more-option">
      <i
        class="bi bi-three-dots-vertical cursor-pointer"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      ></i>
      <ul class="dropdown-menu">
        <!-- <li><a class="dropdown-item" ><i class="bi bi-eye me-2"></i>แสดงรายละเอียด</a></li>
                    <li><a class="dropdown-item" ><i class="bi bi-paperclip me-2"></i>QR Code</a></li>
                    <li><a class="dropdown-item"  ><i class="bi bi-qr-code me-2"></i>แสดง QR Code</a></li> 
                    <li><a class="dropdown-item" ><i class="bi bi-geo-alt me-2"></i> อื่น ๆ </a></li>
                    <li><hr class="dropdown-divider"></li> -->
        <li>
          <a class="dropdown-item"
            ><i class="bi bi-pencil me-2"></i> แก้ไขรายการ</a
          >
        </li>
        <li>
          <a class="dropdown-item"><i class="bi bi-trash me-2"></i> ลบรายการ</a>
        </li>
        <!-- <li><a class="dropdown-item" ><i class="bi bi-x-lg me-2"></i> ยกเลิกการลงทะเบียน</a></li> -->
      </ul>
    </div>
  </div>
</div>
