<section class="mb-5">
    <div class="container">
        <div class="row">
            <h4>{{ item.activity_name }}
              <div class="text-muted fs-sm fst-italic">ประกาศ:{{item.cdate|thaidate}} ปรับปรุง:{{item.mdate|thaidate}} อ่านแล้ว:100 คน </div>
            </h4>
          </div>
        <div class="row">
            <div class="col-md-8 col-12">
              <img class="img-fluid img-thumbnail" [src]="'http://localhost:3000/api/file/picture/'+item.activity_picture || '../assets/images/image_not_available.png'"/>
              <!-- <div
                [ngStyle]="{
                  background: 'url(' + (item.activity_picture|| '../assets/images/image_not_available.png') + ')',
                  'padding-bottom': '50%',
                  'background-size': '100% 100%'
                }"
              ></div> -->
              <div class="mt-3">
                  <p [innerHTML]="item.activity_description" [style]="'text-indent:0em;'"></p>
                <div>
                  <i class="me-2 bi bi-geo-alt me-2 text-primary"></i>สถานที่
                  {{ item.activity_place }}
                </div>
                <div>
                  <i class="bi bi-calendar4-week me-2  text-primary"></i>วันที่
                  {{ item.activity_date_from | thaidate:'short' }}
                </div>
              </div>
            </div>
        
            <div class="col-md-4 col-12">
              <h5>ผู้เข้าร่วมกิจกรรม</h5>
              <hr />
              <ul class="list-unstyled">
                <li><i class="bi bi-person me-2 text-primary"></i>จำนวนที่ลงทะเบียน: {{ item.activity_register }}</li>
                <li><i class="bi bi-person me-2 text-primary"></i>จำนวนที่รับ: {{ item.activity_receive }}</li>
              </ul>
              <hr />
              <button  class="btn btn-success"><i class="bi bi-ticket-perforated me-1"></i>บันทึกเข้าร่วมด้วยบัตรกิจกรรม</button>
               <!-- {{useractivity|json}} -->
            </div>
          </div>

    </div>
</section>
