<!-- <div class="row g-0 py-2 border-bottom">
  <div class="col-md col-12 mx-1">
    <span class="me-1" style="display: inline-block; width: 110px">
      {{ item.activity_code }}
    </span>
    <span class="d-none d-lg-inline me-1" style="width: 100px">
      {{ item.activity_year }}/{{ item.activity_term }}
    </span>
    <span>{{ item.activity_name }}</span>
  </div>
  <div class="col-md-2 col-12"></div>
  <div class="col-md-1 col-12 float-end">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-success btn-sm"><i class="bi bi-indent"></i><span class="text-nowrap">ลงทะเบียน</span></button>
    </div>
  </div>
</div> -->
<div class="d-flex flex-column flex-lg-row py-2 px-2 border-bottom hover">
    <div class="d-block d-lg-none" style="line-height:1em">&nbsp;</div>
    <!-- <div class="flex-grow-1">
      <i class="bi bi-journal-bookmark-fill me-2 text-primary"></i>
        {{item.activity_code}} : {{ item.activity_name }}
        <div class="d-block d-lg-none" style="line-height:0.5em">&nbsp;</div>
      <div class="d-block d-lg-inline-block">
        <span class="fs-sm me-2"><i class="bi bi-easel2 text-primary me-1"></i> {{ item.activity_year }}/{{ item.activity_term }}</span>
        <span class="fs-sm"><i class="bi bi-stopwatch me-1 text-primary"></i>{{item.activity_hour}} ชั่วโมง</span>
      </div>
    </div> -->
    <div class="flex-grow-1 text-truncate">
      {{item.activity_code}} : 
      <a href="">{{item.activity_name}}</a>
    </div>
  
    <div class="d-flex flex-column flex-lg-row justify-content-between ">
  
      <!-- <div class="d-flex flex-row fs-sm">
        <div class="d-flex align-items-center fs-sm"  style="width: 10rem">
          <i class="bi bi-calendar4-week me-1 text-primary"></i
          >{{ item.activity_date_from | thaidate:'short' }}
        </div>
        <div class="d-flex align-items-center fs-sm" style="width: 5rem">
          <i class="bi bi-people me-1 text-primary"></i>{{ item.activity_register }}/{{
            item.activity_receive
          }}
        </div>
        <div  class="d-flex align-items-center fs-sm">
          {{item.activity_status}}
        </div>
      </div> -->
  
      <div class="d-flex justify-content-between align-items-center">
        <div *ngIf="!is_onQRcode" class="d-flex align-items-center justify-content-start" style="width:50px;">
          <span *ngIf="item.activity_status==='O'" class="badge rounded-pill bg-success">เปิด</span>
          <span *ngIf="item.activity_status==='C'" class="badge rounded-pill bg-dark">ปิด</span>
          <span *ngIf="item.activity_status==='F'" class="badge rounded-pill bg-danger">เต็ม</span>
        </div>
          <div class="d-flex flex-row">
            <!-- <button *ngIf="is_onView" class="btn btn-success btn-block btn-sm" (click)="_onView.emit(item)">
              <span class="text-nowrap"><i class="bi bi-indent me-1"></i>เข้าร่วม</span>
            </button> -->
            <button *ngIf="is_onView" class="btn btn-icon" matTooltip="แสดง" (click)="_onView.emit(item)">
              <span class="text-nowrap"><i class="bi bi-eye"></i></span>
            </button>
            <button *ngIf="is_onEdit" class="btn btn-icon" matTooltip="แก้ไข"  (click)="_onEdit.emit(item)">
              <span class="text-nowrap"><i class="bi bi-pencil"></i></span>
            </button>
            <button *ngIf="is_onDelete" class="btn btn-icon" matTooltip="ลบ" (click)="_onDelete.emit(item)">
              <span class="text-nowrap"><i class="bi bi-trash"></i></span>
            </button>
            <button *ngIf="is_onQRcode" class="btn btn-icon" matTooltip="QR Code" (click)="_onQRcode.emit(item)">
              <span class="text-nowrap"><i class="bi bi-qr-code"></i></span>
            </button>
            <button *ngIf="is_onQRScanner" class="btn btn-icon" matTooltip="บันทึกเข้าร่วมด้วย QR Code" (click)="_onQRScanner.emit(item)">
              <span class="text-nowrap"><i class="bi bi-qr-code-scan"></i></span>
            </button>            
            <button *ngIf="is_onGear" class="btn btn-icon" matTooltip="จัดการ" (click)="_onGear.emit(item)">
              <span class="text-nowrap"><i class="bi bi-gear"></i></span>
            </button>
  
            <button *ngIf="is_onRegister" class="btn btn-icon" (click)="_onRegister.emit(item)">
              <span class="text-nowrap"><i class="bi bi-box-arrow-in-down"></i><span class="d-none d-lg-block fs-sm">ลงทะเบียน</span></span>
            </button>
          </div>
      </div> 
      
        <!-- <div class="d-flex align-items-center">
          <div class="more-option">
              <i class="bi bi-three-dots-vertical cursor-pointer" data-bs-toggle="dropdown" aria-expanded="false"></i>
              <ul class="dropdown-menu">
                  <li><a class="dropdown-item" (click)="_onView.emit(item)"><i class="bi bi-eye me-2"></i>แสดงรายละเอียด</a></li>
                  <li><a class="dropdown-item" ><i class="bi bi-paperclip me-2"></i>QR Code</a></li>
                  <li><a class="dropdown-item" (click)="_onQRcode.emit(item)" ><i class="bi bi-qr-code me-2"></i>แสดง QR Code</a></li>
                  <li><a class="dropdown-item" ><i class="bi bi-geo-alt me-2"></i> ปปป</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" ><i class="bi bi-trash me-2"></i> ลบข้อมูลรายการ</a></li>
                  <li><a class="dropdown-item" (click)="_onDelete.emit(item)"><i class="bi bi-x-lg me-2"></i> ยกเลิกการลงทะเบียน</a></li>
              </ul>
          </div>
        </div> -->
  
          
    </div>
  </div>
  
  