<section class="container profile-img">
    <div class="row">
      <div class="col-xl-3 col-md-4 col-12">
        <div class="d-flex flex-column align-items-center">
          <img src="https://picsum.photos/250/300" />
        </div>
      </div>
      <div class="col-xl-9 col-md-8 col-12">
        <div class="d-flex flex-column profile-text">
          <div>
            <h3>{{ userdata?.fullname }}</h3>
          </div>
          <div>{{ userdata?.fullname_en }}</div>
          <ul class="list-unstyled mb-0">
            <li><i class="bi bi-envelope me-2"></i>{{ userdata?.email }}</li>
            <li>
              <i class="bi bi-telephone me-2"></i>{{ userdata?.mobilephone }}
            </li>
          </ul>
          <hr />
          <ul class="list-unstyled mb-0">
            <li>ประเภท: {{ userdata?.usertype }}</li>
            <li>คณะ/หน่วยงาน: {{ userdata?.faculty }}</li>
            <li>หลักสูตร: {{ userdata?.program }}</li>
            <li>ระดับการศึกษา: {{ userdata?.level }}</li>
          </ul>
          <hr />
  
          สิทธิผู้ใช้งาน
          <ul class="list-unstyled mb-0">
            <li *ngFor="let role of currentuser?.roles; let i = index">
              <div class="form-check form-switch">
                <input
                  class="form-check-input cursor-pointer"
                  type="checkbox"
                  [checked]="role.role_name === currentuser?.role?.role_name"
                  (click)="changerole(role.role_id)"
                />
                <label class="form-check-label">{{ role.role_name }} </label>
              </div>
            </li>
          </ul>
          <div>สิทธิการใช้งานปัจจุบัน: {{ currentuser?.role?.role_name }}</div>
        </div>
      </div>
    </div>
  </section>
  
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <label for="" class="form-label">userdata from db</label>
        <div class="alert alert-warning">{{ userdata | json }}</div>
        <label for="" class="form-label">currentuser form service</label>
        <div class="alert alert-warning">{{ currentuser | json }}</div>
      </div>
    </div>
  </div>
  