<main>
    <div class="row mb-2 mt-5">
        <div class="col-sm-6 offset-3">
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group">
                        <div class="custom-file">
                            <label class="custom-file-label" for="inputGroupFile">เลือกไฟล์</label>
                            <input type="file" name="file" class="custom-file-input" id="inputGroupFile" required (change)="handleImport($event)"
                                accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <button (click)="handleExport()" class="btn btn-primary float-right">
                        Export <i class="fa fa-download"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            จำนวนรายการ {{students.length}} 
        </div>
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ลำดับ</th>
                            <th scope="col">รหัสนิสิต</th>
                            <th scope="col">ชื่อ-สกุล</th>
                            <th scope="col">คณะ</th>
                            <!-- <th scope="col">Director</th>
                            <th scope="col">Rating</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="students.length; else elseBlock">
                            <tr *ngFor="let student of students; let i = index">
                                <th scope="row">{{ i + 1 }}</th>
                                <td>{{ student.studentcode }}</td>
                                <td>{{ student.studentname }}</td>
                                <td>{{ student.faculty }}</td>
                                <!-- <td>{{ student.Director }}</td>
                                <td><span class="badge bg-warning text-dark">{{ student.Rating }}</span></td> -->
                            </tr>
                        </ng-container>
                        <ng-template #elseBlock>
                            <tr>
                                <td colspan="5" class="text-center">No students Found.</td>
                            </tr>
                        </ng-template>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

{{students|json}}