// @import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@400&family=Sarabun:wght@300&display=swap");
$primary: #1c79cb; //3d74cd; //rgb(35, 100, 206); //rgb(0, 123, 255);
$secondary: #9fa6b2;
$success: #00c3a7; // #01855b;//#198754;//#14A44D;//rgb(19, 206, 102);
$info: #31beff; //2fbfee;
$warning: #fbc035; //e4a11b
$danger: #bf2c34; //DC3545;//#DC4C64;
$light: #f8f8f8; //rgb(248, 249, 250);
$dark: #332d2d;
$gold: #ffd700;


$body-bg: #f8f8f8;
$body-text-color: #111111;

// variable overrides
$input-placeholder-color: #a8a8a8;
//// Import Bootstrap
@import "bootstrap";
@import "~@ng-select/ng-select/themes/default.theme.css";
////-----------------------------------
:root {
  --bs-modal-width: 100%;
  --bs-modal-padding: 1em;
  --bs-modal-footer-gap: 1em;
  --bs-modal-header-padding: 1em;

  --custom-color-gold: $gold;
}

html,
body {
  font-family: "Sarabun", sans-serif !important;
  font-size: 16px;
  color: #333;
}

section {
  margin-top: 1.5rem;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.hover:hover {
  // background-color: var(--bs-gray-200) !important;
  background-color: #f2f2f2 !important;
}
.link {
  color: var(--bs-primary);
  cursor: pointer;
}

h4,
h6 {
  //font-family: "Prompt";
  color: var(--bs-primary);
}
h3,
.h3 {
  color: var(--bs-primary);
  line-height: 2rem;
}
h5,
.h5 {
  color: var(--bs-primary);
  line-height: 1.87rem;
}

/*--header custom---------*/
h1.custom{
  color:var(--bs-primary);
  font-family: 'Prompt';
}
h2.custom{
  color:var(--bs-primary);
  font-family: 'Prompt';
}
h3.custom{
  color:var(--bs-primary);
  font-family: 'Prompt';
}
h4.custom{
  color:var(--bs-primary);
  font-family: 'Prompt';
}
h5.custom{
  color:var(--bs-primary);
  font-family: 'Prompt';
}
h6.custom{
  color:var(--bs-primary);
  font-family: 'Prompt';
}
.text-h1{
  font-family: "Prompt";
  font-size:3.5rem;
}
.text-h2{
  font-family: "Prompt";
  font-size:3rem;
}
.text-h3{
  font-family: "Prompt";
  font-size:2.5rem;
}
.text-h4{
  font-family: "Prompt";
  font-size:2rem;
}
.text-h5{
  font-family: "Prompt";
  font-size:1.5rem;
}
.text-h6{
  font-family: "Prompt";
  font-size:1rem;
}






.bg-gray-200{ // bg-light
  background-color: var(--bs-gray-200);
}
.bg-gray-300{
  background-color: var(--bs-gray-300);
}
.bg-gray-400{
  background-color: var(--bs-gray-400);
}




.dropdown-menu > li > a:hover,
.nav-item > a:hover {
  text-decoration: none;
}

.form-error {
  color: var(--bs-danger);
}
.form-control {
  background-color: white !important;
}
.form-control-invalid {
  border: 1px solid var(--bs-danger);
  content: "xxxx";
}
.form-label-invalid:after {
  color: var(--bs-danger);
  font-size: 0.8em;
  content: " * กรุณากรอกข้อมูล";
}
.form-label-required:after {
  color: var(--bs-danger);
  font-size: 0.8em;
  content: " *";
}

.form-select {
  background-color: white !important;
}
.form-label {
  margin-top: 0.4rem;
  margin-bottom: 0.2rem;
  font-style: italic;
  color: var(--bs-gray-600);
}
.cursor-pointer {
  cursor: pointer;
}

.panel-form {
  border-bottom: 3px solid red;
}
.btn-success {
  color: white;
}
.btn-success:hover {
  color: white;
}
.btn-success:active {
  color: white !important;
}
.btn-confirm{
  color:white;
  background-color: #ff8888;
}
.btn-confirm:hover,
.btn-confirm:focus:active {
  color: white;
  background-color: var(--bs-red);
}
.btn-cancel{
  color:white;
  background-color: var(--bs-gray-400);
}
.btn-cancel:hover,
.btn-cancel:focus:active {
  color: white;
  background-color: var(--bs-gray-600);
}
.btn-icon {
  color: var(--bs-gray-600);
  padding: 0.2em;
}
.btn-icon:hover {
  color: var(--bs-primary);
}
.btn-icon:hover:focus {
  // border-color:var(--bs-gray-600);
  color: var(--bs-primary);
}


.indent-1{
  padding-left:1rem;
}
.indent-2{
  padding-left:2rem;
}
.indent-3{
  padding-left:3rem;
}
.indent-4{
  padding-left:4rem;
}

.text-gold{
  color: #FFC800;
}


// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .btn-custom {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    line-height: 1.428571429;
    border-radius: 15px !important;
  }
  .btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px !important;
  }
  .btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px !important;
  }
}
@media (max-width: 768px) { 
  .btn-custom span{
    visibility: hidden;
  }
  .nav-link{
    padding:2px 0;
  }
}






// matToolTip---------------------
.mdc-tooltip__surface {
  color: white !important;
  background-color: rgb(85, 85, 85) !important;
}

.navbar-brand:hover {
  text-decoration: none;
}
.navbar-toggler {
  border: none;
  padding: 3px;
}
.nav-item a {
  padding-left: 20px;
}
.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.nav-tabs .nav-link:disabled{
  color:#9fa6b2;
}
.nav-tabs .nav-link{
  color: var(--bs-gray-500);
}
.nav-tabs .nav-link.active{
  color:var(--bs-primary);
  font-weight: bold;
}




.app-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.app-content {
  flex: 1;
  justify-content: center;
}
.app-footer {
  min-height: 25px;
}
.app-footer a {
  text-decoration: none;
}
.btn {
  border-radius: 0;
  margin-left: 2px;
}

.navbar {
  padding: 0px;
}
.nav-link {
  color: $body-text-color;
  transition: all 0.2s;
}
.nav-link:hover {
  color: #3b71ca;
  background-color: #f8f8f8;
}
.navbar-nav .nav-link.active {
  color: #3b71ca;
  background-color: #f8f8f8;
}
.navbar-nav.nav-link:hover {
  background-color: bisque;
}

.accordion-button:not(.collapsed) {
  box-shadow: none;
}

.text-indent {
  text-indent: 2em;
}
.text-muted {
  color: rgb(180, 180, 180) !important;
}
.offcanvas-header {
  background-color: $primary;
  color: white;
}
.offcanvas-header .btn-close {
  color: red;
}

.bigbanner {
  background-image: url(https://data.go.th/sbs/images/banner_new.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 500px;
}

button.calendar,
button.calendar:active {
  width: 2.75rem;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=") !important;
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: center;
}

.dropdown-menu.show {
  top: 2.5em;
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  // box-shadow: inset 0 0 5px grey;
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $secondary;
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $dark;
}

//  .btn-primary {
//     color: #212529;
//     background-color: #7cc;
//     border-color: #5bc2c2
// }

// .btn-primary:hover {
//     color: #212529;
//     background-color: #52bebe;
//     border-color: #8ad3d3
// }

// .btn-primary:focus,
// .btn-primary.focus {
//     box-shadow: 0 0 0 .2rem rgba(91, 194, 194, 0.5)
// }

// .btn-primary.disabled,
// .btn-primary:disabled {
//     color: #212529;
//     background-color: #7cc;
//     border-color: #5bc2c2
// }

// .btn-primary:not(:disabled):not(.disabled):active,
// .btn-primary:not(:disabled):not(.disabled).active,
// .show>.btn-primary.dropdown-toggle {
//     color: #212529;
//     background-color: #9cdada;
//     border-color: #2e7c7c
// }

// .btn-primary:not(:disabled):not(.disabled):active:focus,
// .btn-primary:not(:disabled):not(.disabled).active:focus,
// .show>.btn-primary.dropdown-toggle:focus {
//     box-shadow: 0 0 0 .2rem rgba(91, 194, 194, 0.5)
// }

.icon-link{
  //color:var(--bs-body-color-rgb);
  color:var(--bs-gray-500);
}
.icon-link:hover {
  color: var(--bs-primary);
  cursor: pointer;
}

.fs-md {
  font-size: 0.9rem;
}
.fs-sm {
  font-size: 0.85rem;
}
.fs-xs {
  font-size: 0.75rem;
}

.cdk-global-overlay-wrapper {
  display: flex;
  position: absolute;
  z-index: 1000;
  overflow: auto;
  pointer-events: auto;
}

// --- profile template ----
.profile-img img {
  width: 90%;
  border-radius: 10px;
  box-shadow: 0px 0px 8px rgba(0, 16, 192, 0.4);
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .profile-img img {
    width: 60%;
  }
  .profile-text {
    text-align: center;
    padding-top: 2rem;
  }
  button.nav-link
  {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

// .toggle {
//   cursor: pointer;
//   display: inline-block;
// }

// .toggle-switch {
//   display: inline-block;
//   background: #ccc;
//   border-radius: 16px;
//   width: 58px;
//   height: 32px;
//   position: relative;
//   vertical-align: middle;
//   transition: background 0.25s;
// }
// .toggle-switch:before, .toggle-switch:after {
//   content: "";
// }
// .toggle-switch:before {
//   display: block;
//   background: linear-gradient(to bottom, #fff 0%, #eee 100%);
//   border-radius: 50%;
//   box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
//   width: 24px;
//   height: 24px;
//   position: absolute;
//   top: 4px;
//   left: 4px;
//   transition: left 0.25s;
// }
// .toggle:hover .toggle-switch:before {
//   background: linear-gradient(to bottom, #fff 0%, #fff 100%);
//   box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
// }
// .toggle-checkbox:checked + .toggle-switch {
//   background: #56c080;
// }
// .toggle-checkbox:checked + .toggle-switch:before {
//   left: 30px;
// }

// .toggle-checkbox {
//   position: absolute;
//   visibility: hidden;
// }

// .toggle-label {
//   margin-left: 5px;
//   position: relative;
//   top: 2px;
// }

// @media (min-width: 576px)
// {
//  .modal-dialog {
//     max-width: var(--bs-modal-width);
//     margin-right: auto;
//     margin-left: auto;
// }
// }
.modal-dialog{
  min-width: 300px;
}


.pagination-description{
  font-style:italic;
  font-size:0.9rem;
}
.pagination-icon-next{
  background-color: var(--bs-primary);
}