<section class="container mb-3">
  <div class="row">
    <div class="col-md-6 col-12">
      <zxing-scanner
        [enable]="scannerEnabled"
        [formats]="allowedFormats"
        (scanSuccess)="onCodeResult($event)"
      ></zxing-scanner>
    </div>
    <div class="col-md-6 col-12">
      <div>
        <span class="me-2">Result:</span>
        <strong class="text-primary">{{ qrResultString }}</strong>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
