<div class="container">
  <div class="row">
    <div class="col">
      <!-- Section: Design Block -->
      <section class="">
        <!-- Jumbotron -->
        <div class="px-4 py-5 px-md-5 text-center text-lg-start">
          <div class="container">
            <div class="row gx-lg-5 align-items-center">
              <div class="col-lg-6 mb-5 mb-lg-0">


                  <div class="display-6 fw-bold ls-tight">Student Activity</div>
                  <h5>
                    <span class="text-primary"
                      ><span class="d-inline-block me-1">ระบบกิจกรรมนิสิต</span><span class="d-inline-block">มหาวิทยาลัยมหาสารคาม</span></span>
                  </h5>


                <div class="text-muted">
                  <span class="text-primary">นิสิตและบุคลากร</span> สามารถลงชื่อเข้าใช้งานด้วย Username และ Password ของระบบพิสูจน์ตัวตน MSU Network Authentication

                  <div class="text-start">
                    *นิสิตรหัส 66
                    <div><label class="me-2">Username:</label><span class="text-primary">รหัสนิสิต</span></div>
                    <div><label class="me-2">Password:</label><span class="text-primary">Pw@เลขบัตรประชาชน 13 หลัก</span></div>
                  </div>
                  <div class="text-start">
                    *นิสิตรหัส 65 ลงไป
                    <div><label class="me-2">Username:</label><span class="text-primary">รหัสนิสิต</span></div>
                    <div><label class="me-2">Password:</label><span class="text-primary">เลขบัตรประชาชน 13 หลัก</span></div>
                  </div>

                </div>
                
              </div>

              <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="card">
                  <div class="card-body py-5 px-md-5">
                    <h5 class="card-title">ลงชื่อเข้าใช้งาน</h5>
                    <hr />
                    <form
                      class="pt-3"
                      [formGroup]="frmLogin"
                      (ngSubmit)="onSubmit(frmLogin)"
                    >
                      <!-- username input -->
                      <div class="form-outline mb-3">
                        <label class="form-label">Username</label>
                        <input
                          formControlName="username"
                          type="text"
                          class="form-control"
                        />
                        <div
                          *ngIf="
                            frmLogin.get('username')?.invalid &&
                            (frmLogin.get('username')?.dirty ||
                              frmLogin.get('username')?.touched)
                          "
                          class="form-error"
                        >
                          <div
                            *ngIf="frmLogin.get('username')?.errors?.['minlength']"
                          >
                            min length =3
                          </div>
                          <div
                            *ngIf="frmLogin.get('username')?.errors?.['required']"
                          >
                            Please provide a name.
                          </div>
                        </div>
                      </div>
                      <!-- Password input -->
                      <div class="form-outline mb-3">
                        <label class="form-label">Password</label>
                        <input
                          formControlName="password"
                          type="password"
                          class="form-control"
                        />
                        <div
                          *ngIf="
                            frmLogin.get('password')?.invalid &&
                            (frmLogin.get('password')?.dirty ||
                              frmLogin.get('password')?.touched)
                          "
                          class="form-error"
                        >
                          <!-- <div *ngIf="frmLogin.get('password')?.hasError('minlength')" >xxxx</div> -->
                          Please provide a password.
                        </div>
                      </div>
                      <!-- Checkbox -->
                      <div
                        class="form-check d-flex justify-content-center mb-3"
                      >
                        <input
                          class="form-check-input me-2"
                          type="checkbox"
                          id="form2Example33"
                          checked
                        />
                        <label class="form-check-label" for="form2Example33">
                          Remember me
                        </label>
                      </div>
                      <!-- Submit button -->
                      <button
                        type="submit"
                        class="btn btn-primary btn-block mb-3 w-100"
                        [disabled]="!frmLogin.valid || isloading"
                      >
                        Log in
                      </button>

                      <div *ngIf="isloading" class="d-flex justify-content-center">
                        <div class="spinner-border text-primary" role="status">
                          <span class="visually-hidden">Loading...</span>
                        </div>
                      </div>

                    </form>
                    <div class="d-flex justify-content-between">
                      <a href="https://portal.msu.ac.th">ลืมรหัสผ่าน</a>
                      <a routerLink = "/"> กลับหน้าหลัก</a>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Jumbotron -->
      </section>
      <!-- Section: Design Block -->
    </div>
  </div>
</div>
