<section class="container">
    <div class="row">
      <h4>{{ item.activity_name }}
        <div class="text-muted fs-sm fst-italic">ประกาศ:{{item.cdate|thaidate}} ปรับปรุง:{{item.mdate|thaidate}} อ่านแล้ว:100 คน </div>
      </h4>
    </div>
  </section>
  <!-- <button class="btn btn-danger" (click)="goback()">test</button> -->
  <section class="container mt-0">
    <div class="row">
      <div class="col-md-8 col-12 mb-3">
        <img class="img-fluid img-thumbnail" [src]="fileuri+'picture/'+item.activity_picture || '../assets/images/image_not_available.png'"/>
        <!-- <div
          [ngStyle]="{
            background: 'url(' + (item.activity_picture|| '../assets/images/image_not_available.png') + ')',
            'padding-bottom': '50%',
            'background-size': '100% 100%'
          }"
        ></div> -->
        <div class="mt-3">
          <p [innerHTML]="item.activity_description" [style]="'text-indent:0em;'"></p>

          <activity-info-item
          [item]="item"
          ></activity-info-item>

        </div>
      </div>



      <div class="col-md-4 col-12">
        <ng-container *ngIf="!item.activity_open">
          <h5>กิจกรรมลงทะเบียน</h5>
          <hr />
          <ul class="list-unstyled">
            <li><i class="bi bi-person me-2 text-primary"></i>จำนวนที่ลงทะเบียน: {{ item.activity_register }}</li>
            <li><i class="bi bi-person me-2 text-primary"></i>จำนวนที่รับ: {{ item.activity_receive }}</li>
          </ul>
          <hr />
          </ng-container>
          <div *ngIf="item.activity_open">
            <div class="d-flex align-items-center">
              <div class="h5 ">กิจกรรมเปิด Activity Ticket <i class="bi bi-ticket-perforated ms-1"></i></div>
            </div>
            <p>
              <small>นิสิตจะต้องขอรับ Activity Ticket <i class="bi bi-ticket-perforated m-1"></i> ในบริเวณสถานที่จัดงานทันทีหลังเสร็จสิ้นกิจกรรม เพื่อนำมาบันทึกเข้าร่วมกิจกรรม และรับชั่วโมงกิจกรรม</small>
            </p>
            <button class="btn btn-success" (click)="offcanvas.toggle('offcanvas-ticket')">บันทึกเข้าร่วมกิจกรรม</button>
          </div>

        <button *ngIf="!item.activity_open &&! useractivity" class="btn btn-success w-100" [disabled]="useractivity"  (click)="onRegister()">ลงทะเบียนเข้าร่วม</button>
        
        <div *ngIf="useractivity && !useractivity?.activity_checkin" class="alert alert-success my-2"><i class="bi bi-bookmark-check me-2 h3"></i>คุณได้ลงทะเบียนแล้ว เมื่อวันที่ {{useractivity.cdate|thaidate}}</div>
        
        <div *ngIf="useractivity?.activity_checkin" class="alert alert-success my-2"><i class="bi bi-trophy me-2 h3"></i>คุณได้ยืนยันเข้าร่วกิจกรรมแล้ว เมื่อวันที่ {{useractivity.cdate|thaidate}}</div>

        <ng-container *ngIf="useractivity && !useractivity?.activity_checkin">
          <div class="text-center">
            <ng-container *ngIf="useractivity">
            <qrcode [qrdata]="useractivity.enroll_token" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
            โปรดแสดง QR Code กับผู้จัดกิจกรรม เพื่อยืนยันการเข้าร่วมกิจกรรมนี้
            </ng-container>
          </div>
        </ng-container>

      </div>
    </div>
  </section>
  

  <section class="container">
    <div class="row">

    </div>
  </section>
  
  <offcanvas-ticket></offcanvas-ticket>