<section>
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="h5">กิจกรรมเสริมหลักสูตร ปีการศึกษา 2566</div>

            </div>
        </div>
    </div>
</section>

<section class="container">
    <ng-container >
        <activity-list 
        [items]="activity_ticket"
        [title]="'กิจกรรมเปิด Activity Ticket'"
        (_onTitleClick)="onView($event)"
        [is_onView] = false
        (_onView)="onView($event)"
        >
        </activity-list>
    </ng-container>
</section>
<section class="container">
    <ng-container >
        <activity-list 
        [items]="activity_regis"
        [title]="'กิจกรรมลงทะเบียน'"
        (_onTitleClick)="onView($event)"
        [is_onView] = false
        (_onView)="onView($event)"
        >
        </activity-list>
    </ng-container>
</section>

        <!-- [is_onRegister]=true
        (_onRegister)="onView($event)" -->

<section class="container">
</section>